* {
    font-family: Montserrat;
}

p {
    color: black;
}

.gallery-home img {
    height: 500px;
    }

.loader {
	background: none repeat scroll 0 0 #1E1E1E;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center
}

.loader .loader_inner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #1E1E1E;
	height: 60px;
	width: 200px;
}
