/* CSS partials */
@import "css_components/navbar.css";
@import "css_components/banner.css";
@import "css_components/footer.css";
@import "css_components/button.css";
@import "css_components/pages/home.css";
@import "css_components/pages/gallery.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
