/* Footer */
.bottom-container {
    text-align: center;
    padding: 20px;
    background-color: #6e6d6d;
    /* animation-name: footer-color;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite; */
  }
  
  /* @keyframes footer-color {
    0% {
      background-color: red;
    }
  
    25% {
      background-color: yellow;
    }
  
    50% {
      background-color: green;
    }
  
    75% {
      background-color: blue;
    }
  
    100% {
      background-color: red;
    }
  } */

  .fab {
    color: white;
  }

  .fab:hover {
    color: black;
  }

  p {
    color: white;
  }



  