/* Navbar */
.navbar {
    justify-content: space-between;
    background: white;
    transition: top 0.4s;
    width: 100vw;
    z-index: 3;
    border-bottom: 1px solid #bebebe;
  }

  .navbar .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar .navbar-brand img {
    height: 30px;
  }
  
