/* Navbar */
.navbar {
    justify-content: space-between;
    background: white;
    position: fixed;
    transition: top 0.4s;
    width: 100vw;
  }
  
  .navbar .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar .navbar-brand img {
    height: 50px;
  }
  
